NOVA_API_DB=nova_api
NOVA_API_USER=nova_api
NOVA_API_PASS=LbZHmOs4bQ00aseKuPeDOkZYJkQcgmKyaF4ggq82
NOVA_API_DB_HOST=10.128.0.2
PLACEMENT_DB=placement
PLACEMENT_USER=placement
PLACEMENT_PASS=lRV8xSiDlqxAmp5jabivX8GPDcfHW7ROOR9BmWys
PLACEMENT_DB_HOST=10.128.0.2
